img {
    padding-left: 6px; 
    width: 25px;
}
table {
    width: 80%;
    border-collapse: collapse;
    background-color: #f8f5f4; 
    border-radius: 8px;
    overflow: hidden; /* For rounded corners */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}
tbody tr:nth-child(even) {
    background-color: #f0eaea;
}
tbody tr:hover {
    background-color: #e3dcd9; 
}
th {
    color: #6a605c; 
    background-color: #baa9a4; 
    padding: 12px;
    font-size: 14px;
}
td {
    vertical-align: top;
    border-left: 1px solid #fff;
    padding: 12px;
    font-size: 12px;
}
td:first-child {
    border-left: none; 
}

