#root {
  height: 100%;
}

html {
  height: 100%;
}

body {
  font-family: "Sans-serif", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
header {
  background-color: #cdf7f6;
  color: #4c6d8d;
  display: flex;
  align-items: end;
  flex: 0;
  margin-bottom: 20px;
}

header h1 {
  font-family: "Caveat", cursive;
  font-size: 50px;
  margin: 15px 0 15px 30px;
}

nav a {
  font-family: "Sans-serif", sans-serif;
  text-decoration: none;
  color: #8fb8de;
  font-size: 15px;
  font-weight: 600;
}

.inactive:hover {
  color: #83a7c9;
}

.active {
  color: rgb(89, 134, 176);
}

menu {
  display: flex;
  gap: 20px;
  margin-bottom: 28px;
}

/* Main Content */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
h2 {
  font-family: "Caveat", cursive;
  font-size: 40px;
  color: #9b5094;
  margin: 0;
}
.title {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Footer */
footer {
  font-family: "Caveat", cursive;
  background-color: #9a94bd;
  color: #fff;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

footer a {
  font-family: "Sans-serif", sans-serif;
  color: #fff;
  font-size: 13px;
}

footer a:hover {
  text-decoration: none;
}

/* Responsive Design */
@media (max-width: 480px) {
  header {
    display: block;
  }
  menu {
    justify-content: space-between;
    padding: 0 35px;
    margin-bottom: 16px;
  }
}